{{>partial_header}}
from setuptools import setup, find_packages  # noqa: H301

NAME = "{{{projectName}}}"
VERSION = "{{packageVersion}}"
{{#apiInfo}}
{{#apis}}
{{#-last}}

REQUIRES = [
  "urllib3 >= 1.25.3",
  "python-dateutil",
{{#asyncio}}
  "aiohttp >= 3.0.0",
{{/asyncio}}
{{#tornado}}
  "tornado>=4.2,<5",
{{/tornado}}
{{#hasHttpSignatureMethods}}
  "pem>=19.3.0",
  "pycryptodome>=3.9.0",
{{/hasHttpSignatureMethods}}
]

setup(
    name=NAME,
    version=VERSION,
    author='Thomas Boerger',
    author_email='thomas@webhippie.de',
    description='{{appName}}',
    long_description='{{appDescription}}',  # noqa: E501
    license='Apache License 2.0',
    keywords=['openapi', 'openapi-generator', 'minecraft'],
    python_requires=">=3.6",
    url='https://github.com/kleister/kleister-python',
    classifiers=[
        'Development Status :: 2 - Pre-Alpha',
        'Intended Audience :: Developers',
        'License :: OSI Approved :: Apache Software License',
        'Programming Language :: Python',
        'Programming Language :: Python :: 3',
    ],
    install_requires=REQUIRES,
    packages=find_packages(exclude=["test", "tests"]),
    include_package_data=True,
)
{{/-last}}
{{/apis}}
{{/apiInfo}}
