[tox]
envlist = py3, build, format, lint

[testenv]
deps=
    -r{toxinidir}/requirements.txt
    -r{toxinidir}/test-requirements.txt
commands =
   {{^useNose}}pytest --cov={{{packageName}}}{{/useNose}}{{#useNose}}nosetests{{/useNose}}

[testenv:build]
basepython = python3
deps =
    -r{toxinidir}/requirements.txt
commands =
    python3 setup.py sdist bdist_wheel

[testenv:format]
basepython = python3
deps =
    black
commands =
    black setup.py {{{packageName}}} test

[testenv:lint]
basepython = python3
deps =
    black
commands =
    black --check --diff setup.py {{{packageName}}} test
